@use "@/app/scss/constants" as *;

.language {
    color: $yellow_stroke !important;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid $yellow_stroke !important;
    width: 100%;
}

.start {
    color: $yellow_stroke;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid $yellow_stroke;
    width: 100%;
}