@use "@/app/scss/constants" as *;

.language-switcher {
    padding-top: 20px;
    background-color: $black_background;

    &__title {
        text-align: center;
    }

    &__languages {
        display: flex;
        justify-content: space-around;

        &__language-button {
            width: 40%;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}